
<EditForm Model="@ProductRequest" OnSubmit="@SaveChanges">
    <MudDialog>

        <DialogContent>

            <DataAnnotationsValidator></DataAnnotationsValidator>
            <hr />
            <MudSimpleTable Elevation="0" Hover="true">
                <tbody>
                    @foreach (var product in Products)
                    {
                        <tr>
                            <td>
                                <div class="d-flex flex-row">

                                    <MudItem md="12">

                                        <div class="d-flex flex-row">
                                            <MudAvatar Image="@product.PhotoPath" Style="height: 60px; width: 60px;" />
                                            <div class="ml-6">
                                                <MudText Typo="Typo.body2"><b>@product.Name</b></MudText>
                                                <MudText Typo="Typo.body2">@product.ProductCategory</MudText>
                                                <MudText Typo="Typo.body1" Color="Color.Info">$ @Math.Round(product.CurrentRetailPrice, 2).ToString("N")</MudText>
                                            </div>
                                        </div>
                                    </MudItem>

                                </div>
                            </td>
                            <td>
                                @product.Quantity
                            </td>
                            <td>
                                <MudText Typo="Typo.body1" Align="Align.Right">$ @Math.Round(product.ProductPrice, 2).ToString("N")</MudText>
                            </td>
                        </tr>
                    }

                </tbody>

                @{
                    SubTotal = Math.Round(Products.Sum(p => p.ProductPrice), 2);
                    Tax = Math.Round(Products.Sum(p => p.Tax), 2);
                }



            </MudSimpleTable>
            <MudCardActions style="background-color: #EEEEEE;">

                <MudItem xs="7" sm="7" md="7">
                    <MudText Typo="Typo.body2" Align="Align.Left">Sub Total (excl.)</MudText>
                    <MudText Typo="Typo.body2" Align="Align.Left">Discount</MudText>
                    <MudText Typo="Typo.body2" Align="Align.Left">Tax</MudText>
                    <MudText Typo="Typo.body2" Align="Align.Left">Total</MudText>
                </MudItem>
                <MudItem xs="5" sm="5" md="5">
                    <MudText Typo="Typo.body2" Align="Align.Right">$ @(SubTotal.ToString("N"))</MudText>
                    <MudText Typo="Typo.body2" Align="Align.Right">$ -0.00</MudText>
                    <MudText Typo="Typo.body2" Align="Align.Right">$ @Tax</MudText>
                    <MudText Typo="Typo.body2" Align="Align.Right"><b>$ @((SubTotal + Tax).ToString("N"))</b></MudText>
                </MudItem>


            </MudCardActions>
            <MudCardContent>
                @if (ProductRequest.ProductCategories != null)
                {
                    <MudItem xs="12" md="12" sm="12" lg="12" xl="12">
                        <MudSelect Label="-- Select Product Category --" Strict="true" Variant="Variant.Outlined" Format="F2" @bind-Value="@ProductRequest.ProductCategoryId" For="@(()=>ProductRequest.ProductCategoryId)">
                            @foreach (var productCategory in ProductRequest.ProductCategories)
                                {
                                    if (!string.IsNullOrWhiteSpace(productCategory.Value))
                                    {
                                    <MudSelectItem Value="Convert.ToInt32(productCategory.Value)">@productCategory.Text</MudSelectItem>
                                    }
                                }
                        </MudSelect>
                    </MudItem>
                }
                <MudGrid xs="12" md="12" sm="12" lg="12" xl="12">
                    <MudItem xs="6" md="6" sm="6" lg="6" xl="6">
                        <MudSelect Label="Customer" Strict="true" Variant="Variant.Outlined" Format="F2" @bind-Value="@ProductRequest.ProductCategoryId" For="@(()=>ProductRequest.ProductCategoryId)">

                        </MudSelect>
                    </MudItem>
                    <MudItem xs="6" md="6" sm="6" lg="6" xl="6">
                        <MudSelect Label="Payment Method" Strict="true" Variant="Variant.Outlined" Format="F2" @bind-Value="@ProductRequest.ProductCategoryId" For="@(()=>ProductRequest.ProductCategoryId)">

                        </MudSelect>
                    </MudItem>
                </MudGrid>
                @*<MudItem xs="12" md="12" sm="12" lg="12" xl="12">
                        <MudTextField Label="Coupon Code" Variant="Variant.Outlined" For="@(()=>ProductRequest.Name)" />
                    </MudItem>*@
                <MudGrid xs="12" md="12" sm="12" lg="12" xl="12">
                    <MudItem xs="6" md="6" sm="6" lg="6" xl="6">
                        <MudTextField @bind-Value="@ProductRequest.CostPrice" Label="Recieved" Variant="Variant.Outlined" For="@(()=>ProductRequest.CostPrice)" />
                    </MudItem>
                    <MudItem xs="6" md="6" sm="6" lg="6" xl="6">
                        @{
                            if (ProductRequest.CostPrice > 0)
                            {
                                Change = Math.Round(ProductRequest.CostPrice - SubTotal + Tax, 2);
                            }

                        }
                        <MudTextField @bind-Value="@Change" Label="Change" Variant="Variant.Filled" For="@(() => ProductRequest.CostPrice)" ReadOnly="true" />
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions>
                <MudItem xs="6" sm="6" md="6">
                    <MudButton OnClick="@Cancel" Size="Size.Large" FullWidth="true" StartIcon="@Icons.Material.Outlined.ArrowBack" Color="Color.Default">Back</MudButton>
                </MudItem>
                <MudItem xs="6" sm="6" md="6">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Size="Size.Large" FullWidth="true" StartIcon="@Icons.Material.Outlined.Check">Complete</MudButton>
                </MudItem>
            </MudCardActions>
        </DialogContent>
    </MudDialog>
</EditForm>

@if (IsTranCompleted)
{
    <FormOverlay />
}