<MudCard Elevation="25">

    @if (Products.Count > 0)
    {
<MudCardContent style="background-color: #EEEEEE; ">
    <MudSimpleTable Elevation="0" Hover="true">
        <tbody>
            @foreach (var product in Products)
            {
                product.ProductPrice = product.CurrentRetailPrice * product.Quantity;
                product.Tax = 0.01 * product.ProductPrice;
<tr>
    <td>
        <div class="d-flex flex-row">
            <MudItem xs="4" sm="4" md="4">
                <div class="d-flex flex-row">
                    <MudAvatar Image="@product.PhotoPath" Style="height:60px; width:60px;" />
                    <div class="ml-6">
                        <MudText Typo="Typo.body2"><b>@product.Name</b></MudText> @*<MudText Typo="Typo.subtitle2">@product.Name</MudText>*@
                        <MudText Typo="Typo.body2">@product.ProductCategory</MudText>
                        <MudText Typo="Typo.body1" Color="Color.Info">$ @Math.Round(product.CurrentRetailPrice, 2).ToString("N")</MudText>
                    </div>
                </div>
            </MudItem>
            <MudItem xs="4" sm="4" md="4">

                <MudText Typo="Typo.body1" Align="Align.Right">$ @Math.Round(product.ProductPrice, 2).ToString("N")</MudText>
            </MudItem>
            <MudItem xs="2" sm="2" md="2">



            </MudItem>
            <MudItem xs="2" sm="2" md="2">

                <MudNumericField @bind-Value="@product.Quantity" Variant="Variant.Filled" Min="1" Max="@product.Stock" />

            </MudItem>
        </div>
    </td>
</tr>}

        </tbody>
    </MudSimpleTable>
</MudCardContent>}

    @if (Products.Count == 0)
    {
<MudCardContent style="background-color: #EEEEEE; min-height: 527px">
    <MudItem style="margin-top: 170px;">
        <MudText Align="Align.Center" Color="Color.Default">
            <MudIcon Icon="@Icons.Material.Sharp.AddShoppingCart" Style="font-size: 4rem;" />
        </MudText>
        <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Default"><b>CART EMPTY</b></MudText>
        <MudText Typo="Typo.subtitle2" Align="Align.Center" Color="Color.Default">
            Scan a product barcode or add a product from the list
        </MudText>
    </MudItem>
</MudCardContent>}

    <MudCardActions>
        <MudItem xs="4" sm="4" md="4">
            <MudText Typo="Typo.body1" Align="Align.Left">Sub Total (excl.)</MudText>
            <MudText Typo="Typo.body1" Align="Align.Left">Tax</MudText>
            <MudText Typo="Typo.body1" Align="Align.Left"><b>Total</b></MudText>
        </MudItem>
        <MudItem xs="4" sm="4" md="4">
            @{ SubTotal = Math.Round(Products.Sum(e => e.ProductPrice), 2);
                Tax = Math.Round(Products.Sum(e => e.Tax), 2); }
            <MudText Typo="Typo.body1" Align="Align.Right">$ @SubTotal.ToString("N")</MudText>
            <MudText Typo="Typo.body1" Align="Align.Right">$ @Tax</MudText>
            <MudText Typo="Typo.body1" Align="Align.Right"><b>$ @((SubTotal + Tax).ToString("N"))</b></MudText>
        </MudItem>
        <MudItem xs="2" sm="2" md="2">

        </MudItem>
        <MudItem xs="2" sm="2" md="2">
            <MudText Typo="Typo.body1" Align="Align.Left"><b>@Products.Sum(e => e.Quantity) items</b></MudText>
        </MudItem>

    </MudCardActions>
    <MudCardActions>
        <MudItem xs="4" sm="4" md="4">
            <MudButton Variant="Variant.Filled" Color="Color.Default" Size="Size.Large" FullWidth="true" StartIcon="@Icons.Material.Outlined.Cancel" Class="red-text" @onclick="@ResetCart">
                <MudText><b>Cancel </b></MudText>
            </MudButton>
        </MudItem>
        <MudItem xs="4" sm="4" md="4">
            <MudButton Variant="Variant.Filled" Color="Color.Default" Size="Size.Large" FullWidth="true" StartIcon="@Icons.Material.Outlined.Save" @onclick="@Save">
                <MudText Color="Color.Default"><b>Save </b></MudText>
            </MudButton>
        </MudItem>
        <MudItem xs="4" sm="4" md="4">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Size="Size.Large" FullWidth="true" StartIcon="@Icons.Material.Outlined.Check" @onclick="@Checkout">
                <b>Checkout</b>
            </MudButton>
        </MudItem>

    </MudCardActions>
</MudCard>


@code
{  }