@page "/dashboard/general"
@page "/dashboard"

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Dashboard</MudText>
<MudGrid>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Money" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total Products Cost Price</MudText>
                <MudText Typo="Typo.h5">@Math.Round(GeneralDashboardResponse.TotalCostAmount, 2).ToString("##,###.##")</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Money" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total Products Retail Price</MudText>
                <MudText Typo="Typo.h5">@Math.Round(GeneralDashboardResponse.TotalSalesRetailAmount, 2).ToString("##,###.##")</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Money" Color="Color.Success" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total Sales Profit</MudText>
                <MudText Typo="Typo.h5">@Math.Round(GeneralDashboardResponse.TotalSalesProfit, 2).ToString("##,###.##")</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Money" Color="Color.Warning" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total Expenditure Amount</MudText>
                <MudText Typo="Typo.h5">4,806.56</MudText>
            </div>
        </MudPaper>
    </MudItem>
    
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.List" Color="Color.Info" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total Number of Products</MudText>
                <MudText Typo="Typo.h5">@GeneralDashboardResponse.TotalNumberOfProducts</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.List" Color="Color.Success" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Quantity of Soled Products</MudText>
                <MudText Typo="Typo.h5">@GeneralDashboardResponse.QuantitySalesProducts</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.List" Color="Color.Warning" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Getting out of Stock Product</MudText>
                <MudText Typo="Typo.h5">@GeneralDashboardResponse.GettingOutOfStockProduct</MudText>
            </div>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.List" Color="Color.Error" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Out of Stock Product</MudText>
                <MudText Typo="Typo.h5">@GeneralDashboardResponse.OutOfStockProduct</MudText>
            </div>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="7">
        <MudPaper Elevation="25" Class="pa-4" Style="height:380px;">
            Charts coming soon ish...
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Elevation="25" Class="pa-4" Style="height:380px;">
            Charts coming soon ish...
        </MudPaper>
    </MudItem>

</MudGrid>
